.app_container {
    margin: 0 auto;
    padding: 80px;
    width: 80vw;
    background: #fff;
}
.img_container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 24px;
}
.img_item {
    margin-right: 14px;
    width: 160px;
    height: 180px;
}
.img {
    display: block;
    width: 100%;
    height: 100%;
}
#app {
    width: 100%;
    min-height: 100vh;
    background: #f0f0f0;
}

.text_right {
    text-align: right;
    margin-top: 24px;
}