<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My Page</title>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="/style/index.css?t=1">
</head>
<body>
<div id="app">
    <div class="app_container">
        <el-table
                :data="dataList"
                style="width: 100%">

            <el-table-column
                    prop="menuId"
                    label="id"
                    width="80"
            >
            </el-table-column>
            <el-table-column
                    prop="menuName"
                    label="菜单名称"
                    width="180">
            </el-table-column>
            <el-table-column
                    prop="url"
                    label="请求地址"
                    width="180">
            </el-table-column>
            <el-table-column
                    prop="visible"
                    label="菜单状态"
                    width="180">
            </el-table-column>
            <el-table-column
                    prop="createBy"
                    label="创建者">
            </el-table-column>
            <el-table-column
                    prop="createTime"
                    label="创建时间">
            </el-table-column>
            <el-table-column
                    prop="remark"
                    label="备注">
            </el-table-column>
            <el-table-column>
                <template slot-scope="scope">
                    <el-button @click="handleEdit(scope.row)">编辑</el-button>
                </template>
            </el-table-column>
        </el-table>
        <div class="text_right">
            <el-pagination
                    background
                    :current-page.sync="searchForm.pageNum"
                    :page-size="searchForm.pageSize"
                    :layout="pageInfo.total > 10 ? 'sizes, prev, pager, next, jumper, total' : 'prev, pager, next, total'"
                    :total="pageInfo.total"
                    @size-change="handleSizeChange"
                    @current-change="handleCurrentChange"
            />
        </div>
        <el-button @click="allEditRemark">批量修改备注</el-button>
        <el-button @click="addData">新增</el-button>
    </div>
    <el-dialog title="编辑" :visible.sync="dialogTableVisible">
        <el-input :rows="5" type="textarea" placeholder="请输入备注" v-model="remark"></el-input>
        <div slot="footer">
            <el-button @click="submit">提交</el-button>
        </div>
    </el-dialog>
    <el-dialog title="新增" :visible.sync="addDialogTableVisible">
        <el-form :model="formData">
            <el-row :gutter="24">
                <el-col :span="12">
                    <el-form-item label="菜单名称">
                        <el-input v-model="formData.menuName"></el-input>
                    </el-form-item>
                </el-col><el-col :span="12">
                <el-form-item label="url">
                    <el-input v-model="formData.url"></el-input>
                </el-form-item>
                </el-col><el-col :span="12">
                <el-form-item label="是否刷新（0刷新 1不刷新）">
                    <el-input v-model="formData.isRefresh"></el-input>
                </el-form-item>
                </el-col><el-col :span="12">
                <el-form-item label="创建者">
                    <el-input v-model="formData.createBy"></el-input>
                </el-form-item>
                </el-col><el-col :span="12">
                <el-form-item label="更新者">
                    <el-input v-model="formData.updateBy"></el-input>
                </el-form-item>
                </el-col><el-col :span="12">
                <el-form-item label="创建时间">
                    <el-date-picker
                            v-model="formData.createTime"
                            type="datetime"
                            placeholder="选择日期时间"
                            align="right"
                            value-format="yyyy-MM-dd HH:mm:ss"
                            :picker-options="pickerOptions">
                    </el-date-picker>
                </el-form-item>
                </el-col>
                <el-col :span="12">
                    <el-form-item label="更新时间">
                        <el-date-picker
                                v-model="formData.updateTime"
                                type="datetime"
                                value-format="yyyy-MM-dd HH:mm:ss"
                                placeholder="选择日期时间"
                                align="right"
                                :picker-options="pickerOptions">
                        </el-date-picker>
                    </el-form-item>
                </el-col><el-col :span="12">
                <el-form-item label="备注">
                    <el-input :rows="5" type="textarea" v-model="formData.remark"></el-input>
                </el-form-item>
                </el-col>
            </el-row>
        </el-form>
        <div slot="footer">
            <el-button @click="submitAdd">提交</el-button>
        </div>
    </el-dialog>

</div>
</body>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.7.14"></script>
<!-- 引入组件库 -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script>
    new Vue({
        el: '#app',
        data() {
            return {
                addDialogTableVisible: true,
                pickerOptions: {
                    shortcuts: [{
                        text: '今天',
                        onClick(picker) {
                            picker.$emit('pick', new Date());
                        }
                    }, {
                        text: '昨天',
                        onClick(picker) {
                            const date = new Date();
                            date.setTime(date.getTime() - 3600 * 1000 * 24);
                            picker.$emit('pick', date);
                        }
                    }, {
                        text: '一周前',
                        onClick(picker) {
                            const date = new Date();
                            date.setTime(date.getTime() - 3600 * 1000 * 24 * 7);
                            picker.$emit('pick', date);
                        }
                    }]
                },
                formData: {
                    menuId: "",
                    menuName: "",
                    parentId: "0",
                    orderNum: "0",
                    url: "",
                    visible: "0",
                    isRefresh: "1",
                    icon: "#",
                    createBy: "",
                    createTime: "",
                    updateBy: "",
                    updateTime: "",
                    remark: ""
                },
                searchForm: {
                    pageNum: 1,
                    pageSize: 10
                },
                pageInfo: {
                    total: 0,
                },
                remark: '',
                id: '',
                dataList: [],
                dialogTableVisible: false
            }
        },
        methods: {
            handleCurrentChange(pageNum) {
                this.searchForm.pageNum = pageNum
                this.getDataList()
            },
            allEditRemark() {
                this.id = this.dataList.slice(0, 3).map(v => v.menuId)
                this.dialogTableVisible = true
            },
            handleSizeChange(size) {
                this.searchForm.pageSize = size
                this.searchForm.pageNum = 1
                this.getDataList()
            },
            submitAdd() {
                axios.post('/addMenu', this.formData).then(({data})=> {
                    console.log(data);
                })
            },
            handleEdit({menuId}) {
                this.id = menuId
                this.dialogTableVisible = true
                this.getDetail()
            },
            getDetail() {
                axios.get(`/getMenuDetail?id=${this.id}`).then(({data}) => {
                    this.remark = data.result.remark
                })
            },
            addData() {

            },
            submit() {
                const url = Array.isArray(this.id) ? '/editMenuRemarkAll' : '/editMenuData'
                let params = {remark: this.remark, id: this.id}
                if (Array.isArray(this.id)) {
                    params = {remark: this.remark, idList: this.id}
                }
                axios.post(url, params).then(({data}) => {
                    if (data.code === 200) {
                        this.getDataList()
                        this.$message.success(data.msg)
                        this.dialogTableVisible = false
                    } else {
                        this.$message.error(data.msg)
                    }
                })
            },
            getDataList() {
                axios.get('/getMenuList', {params: this.searchForm}).then(({data}) => {
                    this.dataList = data.result.list
                    this.pageInfo = data.result.pageInfo
                })
            }
        },
        created() {
            this.getDataList()
        }
    })
</script>
</html>